<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niko.blog.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.niko.blog.entiy.pojo.Category">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="postCount" column="post_count" jdbcType="OTHER"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="metaKeywords" column="meta_keywords" jdbcType="VARCHAR"/>
            <result property="metaDescription" column="meta_description" jdbcType="VARCHAR"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="modified" column="modified" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,content,
        summary,icon,post_count,
        order_num,parent_id,meta_keywords,
        meta_description,created,modified,
        status
    </sql>
</mapper>
