<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niko.blog.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.niko.blog.entiy.pojo.Post">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="editMode" column="edit_mode" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="voteUp" column="vote_up" jdbcType="OTHER"/>
            <result property="voteDown" column="vote_down" jdbcType="OTHER"/>
            <result property="viewCount" column="view_count" jdbcType="OTHER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="recommend" column="recommend" jdbcType="TINYINT"/>
            <result property="level" column="level" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="modified" column="modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        edit_mode,category_id,user_id,
        vote_up,vote_down,view_count,
        comment_count,recommend,level,
        status,created,modified
    </sql>
</mapper>
